<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/i/favicon.ico" />

    <title>{{ page.title }}{% if page.title == 'Hoaheeu!' %} Zajímavosti, tipy, fotografie...{% else %} | Hoaheeu!{% endif %}</title>
    <meta name="description" content="{{ site.description }}" />
    
    <meta content="width=device-width" name="viewport">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link media="screen and (max-width: 1000px)" type="text/css" rel="stylesheet" href="/css/mobile.css">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    

    <!-- Facebook Open Graph -->
    <meta property="fb:app_id" content="{{ site.fbappid }}"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:description" content="{{ site.description }}"/>
    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.image }}"/>
    {% else %}
    <!--
    Image by Daniel Chodusov, License: Attribution-NoDerivs 2.0 Generic 
    http://www.flickr.com/photos/danielchodusov/11451431466
    -->
    <meta property="og:image" content="{{ site.url }}/i/fb.jpg"/>
    {% endif %}
    {% if page.title == 'Hoaheeu!' %}
    <meta property="og:url" content="{{ site.url }}/"/>
    <meta property="og:type" content="website"/>
    {% else %}
    <meta property="og:url" content="{{ site.url }}{{ page.url }}/"/>
    <meta property="og:type" content="article"/>
    {% endif %}


    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50154508-5', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
  <div id="content">
    <div class="rightcolumn">
        <div id="head">
            <h1><a href="/">{{ site.name }}</a></h1>

            <h2>Celé to začalo, když se můj život <a href="/zivotni-krize">rozsypal na kousky</a>.</h2>
        </div>
    </div>
    <div id="mobilehead">
        <h1><a href="/">{{ site.name }}</a></h1>

        <h2>Celé to začalo, když se můj život <a href="/zivotni-krize">rozsypal na kousky</a>.</h2>
          
    </div>

    <div id="container">