---
layout: default
---
<div class="post">
  <h2>{{ page.title | replace:'Fotka dne:','<span>Fotka dne:</span>' | replace:'Tip:','<span>Tip:</span>' }}</h2>
  {% if page.image %}
    <div class="img">
      {% if page.imagelink %}
        <a href="{{ page.imagelink }}">
        <img class="my" src="{{ page.image }}" width="800" height="{{ page.imageheight }}" alt="{{ page.imagealt }}">
        </a>
      {% else %}
        <img class="my" src="{{ page.image }}" width="800" height="{{ page.imageheight }}" alt="{{ page.imagealt }}" />
      {% endif %}

      {% if page.imageby %}
        <div class="imageby belowpic">
          {% capture desc_length %}{{ page.imagedesc | size | minus:1 }}{% endcapture %}
          {% unless desc_length contains '-' %}
            {{ page.imagedesc }} 
          {% endunless %}
          {{ page.imageby | replace: 'photo <', 'Foto <' }}.
        </div>
        <div class="clear"></div>
      {% endif %}
    </div>
  {% endif %}

  <div class="gap">
    {% if page.imagealt %}
    <div class="pinterest_btn">
        <a href="//www.pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ page.image }}&amp;description={{ page.imagealt | replace: ' ', '%20' | replace: '&', '%26' | replace: '?', '%3F' | replace: '!', '%21' | replace: ',', '%2C' }}.%20{{ page.imageby | strip_html | replace: 'foto', 'Foto' | replace: ' ', '%20' | replace: '&', '%26' | replace: '?', '%3F' | replace: '!', '%21' | replace: ',', '%2C' }}." data-pin-do="buttonPin" data-pin-config="none" data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" alt="p" /></a>
    </div>
    {% endif %}
  </div>

  {% include share.html %}

  <div class="gap"></div>
  
  {{ content }}

  <div class="authortags">
  {% if page.by %}
      <div class="author"><span><i class="fa fa-user" title=" autor "></i></span> &nbsp; {{ page.by }}</div>
    {% endif %}
    
    {% if page.tags.size > 0 %}
      <div class="tags_in_article"><span><i class="fa fa-tag" title=" tagy "></i></span> &nbsp;
        {% for tag in page.tags %}
          <a href="/{{ tag | replace:' ','-' | downcase | replace:'é','e' | replace:'í','i' | replace:'á','a' }}" class="tag">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <div class="clear"></div>
    </div>

  {% if page.sharebottom %}
    {% include share.html %}
  {% endif %}
    
  <div class="previous_next">
    {% if page.previous.url %}
      <div class="previous">
        <a href="{{page.previous.url}}">
          <div class="np">předešlý článek:</div>
          <div class="np_title">{{page.previous.title}}</div>
        </a>
      </div>
    {% endif %}

    {% if page.next.url %}
      <div class="next">
        <a href="{{page.next.url}}">
          <div class="np">další článek:</div>
          <div class="np_title">{{page.next.title}}</div>
        </a>
      </div>
    {% endif %} 
    <div class="clear"></div>
  </div>
</div>
